<div class="blc_form">

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %>
				prohibited this user from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<fieldset>
		<legend>Enter User Details</legend>
		
  	<div class="field">
    	<%= f.label :last_name %><br />
    	<%= f.text_field :last_name %>
  	</div>
  	<div class="field">
    	<%= f.label :first_name %><br />
    	<%= f.text_field :first_name %>
  	</div>

  	<div class="field">
    	<%= f.label :spouse %><br />
    	<%= f.text_field :spouse %>
  	</div>
  	<div class="field">
    	<%= f.label :address %><br />
    	<%= f.text_field :address %>
  	</div>
  	<div class="field">
    	<%= f.label :city %><br />
    	<%= f.text_field :city %>
  	</div>
  	<div class="field">
    	<%= f.label :state %><br />
    	<%= f.text_field :state %>
  	</div>
  	<div class="field">
    	<%= f.label :zip %><br />
    	<%= f.text_field :zip %>
  	</div>
  	<div class="field">
    	<%= f.label :telephone %><br />
    	<%= f.telephone_field :telephone %>
  	</div>
  	<div class="field">
    	<%= f.label :cellphone %><br />
    	<%= f.telephone_field :cellphone %>
  	</div>
 
  	<div class="field">
    	<%= f.label :image %><br />
    	<%= f.text_field :image %>
  	</div>

  	<div class="field">
    	<%= f.label :email %><br />
    	<%= f.email_field :email %>
  	</div>

  	<div class="field">
    	<%= f.label :password %><br />
    	<%= f.password_field :password, :size => 40 %>
  	</div>
		<div class="field">
			<%= f.label :password_confirmation, "Confirm password:" %><br />
			<%= f.password_field :password_confirmation, :size => 40 %>
		</div>
		<% if current_user == :admin %>
  	<div class="field">
    	<%= f.label :remarks %><br />
    	<%= f.text_area :remarks %>
  	</div>
		<% end %>
		Please check the ministries you would be willing to serve:<br />
		<input type="checkbox" name="Ministry" value="Care Giving">Care Giving<br />
		<input type="checkbox" name="Ministry" value="Coffee">Coffee<br />
		<input type="checkbox" name="Ministry" value="Greeting">Greeting<br />
		<input type="checkbox" name="Ministry" value="Hospitality">Hospitality<br />
		<hr />
		Click the "Create User" button to finish.
  	<div class="actions">
    	<%= f.submit %>
  	</div>
		
	</fieldset>
<% end %>

</div>