<p id="notice"><%= notice %></p>

<p>
  <b>Address 1:</b>
  <%= @address.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @address.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
